name: Cache
on:
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-cache
  cancel-in-progress: true
jobs:
  clean:
    name: Clean GitHub Actions cache
    runs-on: ubuntu-latest
    env:
      DEBUG: true
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
